/* Root Styles */
:root{
    --primaty-color: #5edb07;
    --second-color: #34a102;
    --third-color: #080c24;
    --third-color-transparent: rgba(0,15,38,0.8);
    --fourth-color: #a462ff;
    ---sixth-color: rgba(0,0,0,0.7);
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Styles of general container */
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

/* header  styles */
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

/* Navbar Styles */
nav{
    width: 100%;
    height: 100%;
}

.navbar-logo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo img{
    width: 12rem;
}

/* Banner general styles */
.banner{
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/RAM_Mobile.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner-main{
    position: relative;
    width: 100%;
    height: 100%;
}

.layer {
    background-color: var(--third-color-transparent);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Text Styles */
.banner-main_input{
    position: absolute;
    width: 10rem;
    height: auto;
    padding: 1px;
}

.banner-main_title{
    color: #fff;
    letter-spacing: 5px;
    font-weight: 600;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 3px;
}

.banner-main_text{
    color: #fff;
}
.banner-error{
    color: #fff;
    margin-top: 50px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* Button Style */
.globalButtonStyle{
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    background: linear-gradient(to bottom, var(--primaty-color), var(--second-color) );
    text-transform: uppercase;
    color: #fcfcfc;
    font-weight: 700;
    display: none;
}

.openUpButton{
    background-color: var(--second-color);
    border: none;
    cursor: pointer;
    width: 6rem;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.openUpButton:hover{
    background-color: var(--primaty-color);
    color: #1d1d1d;
    font-weight: 600;
}

.pagination-buttons{
    display: flex;
    gap: 10px;
}

.pagination-buttons_click{
    background-color: var(--third-color);
    color: #a2a2a2;
    padding: 5px 14px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.pagination-buttons_click:hover{
    color: #f4f4f4;
}

/* Input styles */
.main{
    width: 100%;
    /* height: 50rem; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 90px;

}

.main-author{
    color: #949494;
}

.main-author > a{
    color: #f4f4f4;
}

form{
    position: relative;
}

.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
}

.search{
    width: 24rem;
    padding: 8px 12px;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #f4f4f4;
    background-color: #2f2f2f;
    border: var(--second-color) 1px solid;
}

.search:focus{
    border: var(--primaty-color) 1px solid;
}

/* Cards Styles */
.cards{
    width: 100%;
    height: 75vh;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 24rem;
    grid-template-rows: 12rem 12rem;
    gap: 10px;
    overflow-y: scroll;
}

.cards-card_container{
    width: 24rem;
    height: 12rem;
    background-color: var(--third-color-transparent);
    border-radius: 20px;
}

.cards-card{
    display: flex;
    gap: 5px;
}

.cards-card_img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cards-card_img img{
    width: 12rem;
    height: 12rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cards-card_details{
    width: 100%;
    color: #a2a2a2;
    padding: 0 5px;
}

.cards-card_details > p{
    margin: 0;
    line-height: 25px;
}

.cards-card_title{
    color: var(--fourth-color);
}

/* Pagination Styles */
.pagination{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.pagination-counter{
    color: #f4f4f4;
    font-size: 12px;
    letter-spacing: 2px;
    display: flex;
    gap: 10px;
    text-align: center;
    color: #efbb00;
}

.pagination-counter > p > span{
    width: auto;
    padding: 4px;
    text-align: center;
    border-radius: 10px;
    display: block;
    font-weight: 700;
    font-size: 15px;
    margin-top: 2px;
    color: #fff;
}

.pagination-counter > p > span:hover{
    background-color: #a462ff;
    cursor: pointer;
}


/* One Card Info */
.character-info{
    width: 100vw;
    height: 100vh;
    margin-top: -100px;
    position: absolute;
    background-color: var(---sixth-color);
    z-index: 99;
}

.character-info_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.character-info_card{
    background-color:var(--third-color);
    border-radius: 10px;
    border: 1px solid var(--primaty-color);
    position: relative;
    width: 20rem;
}

.character-info_closeButton{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
    background-color: #ff0810a5;
    padding: 8px 7px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.character-info_closeButton button{
    border: none;
    color: #f4f4f4;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
}

.character-info_closeButton:hover{
    background-color: #b40006a5;
}

.character-info_img img{
    width: 20rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.character-info_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character-info_details > h4{
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
    color: var(--fourth-color);
    margin: 10px 5px;
}

.character-info_details > p {
    color: #fff;
    margin: 0px;
}

.character-info_moreInfo{
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}
.character-info_moreInfo > p {
    margin: 0;
    line-height: 25px;
}

.character-info_moreInfo span {
    color: #8d8d8d;
}

.character-info_buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.character-info_buttons > button {
    border: none;
    width: 6rem;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--second-color);
}

.character-info_buttons > button:hover{
    background-color: var(--primaty-color);
}

/* Media Queries */
/* Styles for large screens */
@media screen and (min-width: 1501px){
    .navbar-logo{
        justify-content: space-between;
    }

    .globalButtonStyle{
        display: block;
    }

    .banner{
        background-image: url('../assets/RAM_Desktop.jpg');
    }

    .cards{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 12rem 12rem;
    }

    .cards-card_container{
        width: 30rem;
    }

    .cards-card{
        flex-direction: row;
    }
    
    .search{
        width: 28rem;
    }

    .pagination-counter{
        font-size: 18px;
    }

}


/* Styles for medium screens */
@media screen and (min-width: 850px) and (max-width: 1500px) {
    .banner{
        background-image: url('../assets/RAM_Tablet.jpg');
    }

    .cards{
        grid-template-columns: 1fr 1fr;
    }

    .search{
        width: 28rem;
    }

    .pagination-counter{
        font-size: 18px;
    }
}


